main {
  margin: 20px;
  position: relative;
}

em {
  text-decoration: underline;
}

.h1_text {
  margin-bottom: 40px;
}

@media screen and (min-width: 900px) {
  .grid_2-1 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 100px;
  }
  /* .col_1 {
  } */

  .col_2 {
    font-size: 12px;
  }
}

:root {
  --BAS-Green: #284a36;
  --BAS-Off-White: #f2f0e6;
  --background-color-2: #ffffff;
  --alt-color: #eac06b;
}

a,
p,
h1,
h2,
h3,
ul,
li {
  color: var(--BAS-Green);
  text-decoration: none;
  list-style-type: none;
}
h1 {
  font-family: "freight-macro-pro", serif;
  font-weight: 600;
  font-style: normal;
  font-size: x-large;
}

a,
ul,
li {
  font-family: "freight-macro-pro", serif;
  font-weight: 600;
  font-style: normal;
}

h2,
h3 {
  font-family: "freight-macro-pro", serif;
  font-weight: 400;
  font-style: normal;
}

/* .container {
  display: flex;
} */

body {
  background-color: var(--BAS-Off-White);
}

/* .splash_pictures {
  display: flex;
  justify-content: space-between;
} */

.price_list {
  display: flex;
}

.price_list_wine {
  margin-right: 60px;
}

.overskrift_side {
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: xx-large;
}

footer {
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  margin-top: 100px;
  place-content: space-between;
}

.splash_slide {
  height: auto;
  max-width: 100%;
  margin: 0px;
  padding: 0px;
}

.imageBox {
  position: relative;
  float: left;
}

.imageBox .hoverImg {
  position: absolute;
  left: 0;
  top: 0;
  display: none;
}

.imageBox:hover .hoverImg {
  display: block;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 50px;
}

.logo img {
  width: 80px;
  height: 80px;
}

.logo {
  font-family: "freight-macro-pro", serif;
  font-weight: 900;
  font-style: normal;
  font-size: 50px;
}

nav {
  display: flex;
  align-items: center;
}

.winelist {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.winelistbox {
  margin: 20px;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  margin-right: 20px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu a {
  display: block;
  padding: 1px;
  color: var(--BAS-Green);
  text-decoration: none;
  transition: color 0.3s;
  text-align: end;
}

.menu a:hover {
  text-decoration: underline;
  text-decoration-thickness: 1.5px;
}

.burger {
  width: 30px;
  height: 20px;
  cursor: pointer;
}

.burger .line {
  width: 100%;
  height: 2px;
  background-color: var(--BAS-Green);
  margin-bottom: 5px;
  transition: 0.2s linear;
}
.burger {
  display: none;
}
@media screen and (max-width: 800px) {
  .winelist {
    display: inline-block;
    vertical-align: middle;
    columns: unset;
    align-content: center;
  }

  footer {
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    display: inline;
    margin: 200px;
  }

  .imageBox {
    position: relative;
    float: left;
  }

  .imageBox .hoverImg {
    position: absolute;
    left: 0;
    top: 0;
    display: none;
  }

  .imageBox:hover .hoverImg {
    display: none;
  }
  .menu {
    display: none;
  }
  .burger {
    display: block;
  }
  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    transition: 0.2s linear;
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
    transition: 0.15s linear;
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    transition: 0.2s linear;
  }

  nav.active .menu {
    display: block;
    background-color: #fff;
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    z-index: 1;
  }

  nav.active .menu li {
    margin: 10px 20px;
  }

  nav.active .menu a {
    font-size: 24px;
  }
  header {
    padding: 20px;
  }
}
